{% extends "base.html" %}
{% block content %}

<head>
    <title>Update Department</title>
    <style>
        #register_btn{
            align-items: center;
            background-color: #008d97;  
            color: #fff;
            font-weight: bold; 
            font-size: large;
            width: 300px;
        }
        .bottom-margin{
            margin-bottom: 50px;
        }
        @media screen and (max-width: 768px) {
            #register_btn{
                width: 200px;
            }
        }
    </style>
</head>
<body>
    <div class="container ">
        <h3>Update Department</h3>
        <form action method="POST" enctype="multipart/form-data"  class="needs-validation border p-4 rounded shadow" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.name.label }}
                        {{ form.name }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.department_type.label }}
                        {{ form.department_type }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.unit.label }}
                        {{ form.unit }}
                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="form-group">
                        {{ form.org.label }}
                        {{ form.org }}
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" class="center btn col-md-6"
                            id="register_btn" value="Update Department">
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</body>

{% endblock %}
